<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="../CSS/About.css">


</head>

<body>
    <nav class="navbar-one">
        <div class="left">
            <div class="email">
                <i class="fa fa-nevelope"></i>
                <span>htflowercambodia@gmail.com</span>
            </div>
            <div class="call">
                <i class="fa fa-phone-alt"></i>
                <span>( +855 ) 88999777</span>
            </div>
        </div>
        <div class="right">
            <div class="twitter">
                <i class="fab fa-twitter"></i>
                <span>Twitter</span>
            </div>
            <div class="facebook">
                <i class="fab fa-facebook"></i>
                <span>Facebook</span>
            </div>
        </div>
    </nav>

    <nav class="navbar-second">
        <div class="logo">
            <h1>ht flower cambodia</h1>
        </div>
        <ul class="flex">
            <a href="../index.html">home</a>
            <a href="../components/About.html">about</a>
            <a href="#">service</a>
            <a href="../components/contact.html">contact</a>
        </ul>
        <div class="serach">
            <input type="search" placeholder="search"><i style="padding-left: 20px; font-size: 22;"
                class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="login">
            <button id="log">Login</button>
        </div>
    </nav>

    <!-- maim body -->
    <div class="gallery">

        <div class="content">
            <img src="../asset/flower5.jpeg">
            <h3>Rose Bouquet </h3>
            <p>Bunch of 50 red roses you can buy for your sweetheart</p>
            <h6>$100.00</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <button class="buy">buy now</button>
        </div>
        <div class="content">
            <img src="../asset/flower6.webp" alt="">
            <h3>rose bouquet</h3>
            <p>Bunch of 70 pink roses you can buy for your sweetheart</p>
            <h6>$40.00</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <button class="buy">buy now</button>
        </div>
        <div class="content">
            <img src="../asset/flower7.jpg" alt="">
            <h3>Blue Vase</h3>
            <p>Bunch of 100 pink roses you can buy for your sweetheart</p>
            <h6>$70.00</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <button class="buy">buy now</button>
        </div>
        <div class="content">
            <img src="../asset/flower8.jpg" alt="">
            <h3>tulips</h3>
            <p>Bunch of 1000 pink read roses you can buy for your sweetheart</p>
            <h6>$100.00</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <button class="buy">buy now </button>
        </div>
        <div class="content">
            <img src="../asset/flower10" alt="">
            <h3>Pink rose bouquet</h3>
            <p>Bunch of 1000 pink read roses you can buy for your sweetheart</p>
            <h6>$100.00</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
            </ul>
            <button class="buy">buy now </button>
        </div>
        <div class="content">
            <img src="../asset/flower11" alt="">
            <h3>Orange rose bouquet</h3>
            <p>Bunch of 1000 pink read roses you can buy for your sweetheart</p>
            <h6>$100.00</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
            </ul>
            <button class="buy">buy now </button>
        </div>
        <div class="content">
            <img src="../asset/flower12" alt="">
            <h3>Rose Bouquet – Little</h3>
            <p>Bunch of 1000 pink read roses you can buy for your sweetheart</p>
            <h6>$100.00</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <button class="buy">buy now </button>
        </div>
        <div class="content">
            <img src="../asset/flower9.jpg" alt="">
            <h3>Tulip Bouquet – While</h3>
            <p>Bunch of 1000 pink read roses you can buy for your sweetheart</p>
            <h6>$100.00</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <button class="buy">buy now </button>
        </div>
        <footer class="footer">
            <div class="footer-cell">
                <h2>About Us</h2>
                <p class="about">We are dedicated to providing the freshest flowers and exceptional service for all
                    occasions.</p>
            </div>

            <div class="footer-cell">
                <h2>Services</h2>
                <p class="services">Flower Arrangements</p>
                <p class="services">Wedding Bouquets</p>
                <p class="services">Event Decorations</p>
            </div>

            <div class="footer-cell">
                <h2>Contact</h2>
                <p class="address">123 Floral Lane, Blossom City, State, Zip</p>
                <div class="social-media">
                    <a href="https://facebook.com" target="_blank">Facebook</a>
                    <a href="https://instagram.com" target="_blank">Instagram</a>
                    <a href="https://twitter.com" target="_blank">Twitter</a>
                </div>
                <p class="copyright">© 2024 Your Flower Shop. All rights reserved.</p>
            </div>

            <!-- Embed Google Map on the Right -->
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2533.786466899486!2d104.92369278223961!3d11.54675660713633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310951f32e232ed7%3A0x41ec139c82e8a971!2sFlower%20Shop!5e1!3m2!1sen!2skh!4v1729657649578!5m2!1sen!2skh"
                    width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

</body>

</html>